<div class="card col p-0">
  <div class="card-body">
    <%= image_tag badge.image_location, class: 'img-fluid' %>
    <h5 class="card-title mt-2"><%= badge.title %></h5>
    <div class="card-text"><%= badge.description %></div>
  </div>
</div>
