<% if resource.errors.present? %>
  <div>
    <h2>
      <%= t('.header', count: resource.errors.count) %>:
    </h2>
    <% resource.errors.full_messages.each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>
  </div>
<% end %>
