<!--br пока нет стилей-->
<br><br><br><br><br><br><br><br>
<p><%= current_year %></p>
<p>lunulu</p>
<%= github_url(:lunulu, :testguru) %>
<p>Сайт для прохождения различных тестов</p>
<a href="https://thinknetica.com/">Учебный проект в онлайн-школе Thinknetica</a>
