<!--br пока нет стилей-->
<br><br><br><br><br><br><br><br>
<p><%= current_year %></p>
<p>lunulu</p>
<%= github_url(:lunulu, :testguru) %>
<p><%= t('.about') %></p>
<a href="https://thinknetica.com/"><%= t('.thinknetica') %></a>
