<li class="list-group-item d-flex justify-content-between align-items-center">
  <div>
    <%= answer.body %>
  </div>

  <div>
    <%= link_to t('.show'), admin_answer_path(answer), class: 'btn btn-secondary' %>
    <%= link_to t('.edit'), edit_admin_answer_path(answer), class: 'btn btn-warning' %>
    <%= link_to t('.delete'), admin_answer_path(answer), method: :delete, data: { confirm: t('.confirm') }, class: 'btn btn-danger' %>
  </div>
</li>
