<h2 class="text-center"><%= t('.header') %></h2>

<div class="col col-md-6 mt-3">
  <div class="card">
    <h4 class="card-header">
      <%= @answer.question.body %>
    </h4>

    <div class="card-body">
      <%= render 'form', answer: @answer %>
    </div>
  </div>
</div>

<p class="text-center mt-3">
  <%= link_to t('.back'), admin_question_path(@answer.question), class: 'btn btn-primary' %>
</p>
