 <tr>
    <td><%= link_to "#{question.body}", admin_question_path(question), class: 'btn btn-secondary w-100 test-title' %></td>
    <td><%= link_to t('.edit'), edit_admin_question_path(question), class: 'btn btn-warning w-100' %></td>
    <td><%= link_to t('.delete'), admin_question_path(question), method: :delete, data: {confirm: t('.confirm')}, class: 'btn btn-danger w-100' %></td>
  </tr>
