<div class="col col-md-6 mt-3">
  <div class="card text-center">
    <h2 class="card-header"><%= t('.header') %></h2>

    <div class="card-body">
      <%= form_with url: feedbacks_path, method: :post do |f| %>
        <div class="form-group">
          <p>
            <%= f.text_area :message, rows: 10, class: 'w-100 form-control', style: 'resize: none' %>
          </p>

          <p class="text-center">
            <%= f.submit t('.submit'), class: 'btn btn-primary text-center' %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
