<p><%= t('.welcome', email: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('.message1', email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t('.message2', email: @email) %></p>
<% end %>
